<div class="activity-container col-md-12">
  <h2>Score</h2>
  <mat-card class="activity-content">
    <div class="row">
      <div class="col-6">
        <div class="container">
          <div class="row">
            <div class="col">
              <mat-card>
                <div class="text-center">
                  <div class="effort-circle align-middle">
                    50
                  </div>
                  <p>Development</p>
                </div>
              </mat-card>
            </div>
            <div class="col">
              <mat-card>
                <div class="text-center">
                  <div class="effort-circle">
                    50
                  </div>
                  <p>Design</p>
                </div>
              </mat-card>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <mat-card>
                <div class="text-center">
                  <div class="effort-circle">
                    50
                  </div>
                  <p>QA</p>
                </div>
              </mat-card>
            </div>
            <div class="col">
              <mat-card>
                <div class="text-center">
                  <div class="effort-circle">
                    50
                  </div>
                  <p>PM</p>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="text-center">
          <h4 class="estText">Total Estimated Time</h4>
          <div class="cent">
            <div class="scoreCircle">
              <h1 class="estText h1">
                92
              </h1>
              <p>
                Hours
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <div class="row">
    <div class="col-6">
      <button mat-raised-button class="fill-btn text-center reqBtn pt-3 pb-3" (click)="CHANGE_ME()">
        Review Requirements
      </button>
    </div>
    <div class="col-6">
      <button mat-raised-button class="fill-btn text-center projBtn pt-3 pb-3" (click)="CHANGE_ME()">
        Send Project Request
      </button>
    </div>
  </div>
</div>
