.effort-circle
    border-radius 50%
    border 1px solid #CCC
    background #EEE
    width 80%
    padding-top 80%


.fill-btn
    width 100%
    margin 5px
    color white
    font-size 125%

.reqBtn
    background linear-gradient(to right, #00cc00 0%, #33cccc 100%)

.projBtn
    background linear-gradient(to right, #666699 0%, #003366 100%)

.estText
    color #d12c97

.scoreCircle
    border-radius 50%
    border 2px solid #eb2aa7
    width 100%
    padding-top 100%

.cent
    width 50%
    margin auto

.grid
    display grid