<mat-card>
  <div class="col-6">
    <div class="container">
      <div class="row">
        <div class="col">
          <mat-card>
            <div class="text-center">
              <div class="effort-circle">
                50
              </div>
              <h4>Devlopement</h4>
            </div>
          </mat-card>
        </div>
        <div class="col">
          <mat-card>
            <div class="text-center">
              <div class="effort-circle">
                50
              </div>
              <h4>Devlopement</h4>
            </div>
          </mat-card>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <mat-card>
            <div class="text-center">
              <div class="effort-circle">
                50
              </div>
              <h4>QA</h4>
            </div>
          </mat-card>
        </div>
        <div class="col">
          <mat-card>
            <div class="text-center">
              <div class="effort-circle">
                50
              </div>
              <h4>PM</h4>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">

  </div>
</mat-card>
