
.btnSelect
  border-radius 30px
  border solid #CCC 1px
  margin 2px
  background #EEE
  font-weight normal
  &[disabled]
    pointer-events none
.btnSelect:hover
  color white
  background #36aff5

.pulseTab
  background #0ab9f0
.disabled
  border 1px solid black !important
  color black !important
