
.btnSelect
  border-radius 30px
  border solid #CCC 1px
  margin 2px
  background #EEE
  font-weight normal
  &[disabled]
    pointer-events none
.btnSelect:hover
  color white
  background #36aff5

.pulseTab
  background #0ab9f0
.disabled
  border 1px solid black !important
  color black !important

.event-desc-template-container
  background-color: rgba(40, 50, 75, 1)
  padding: 1.5em
  .event-desc-title
    h2
      color: white
    h6
      color: #0ab9f0
  .event-desc-content
    color #D0D0CF
  .event-desc-btn-container
    text-align: center
    img 
      padding: 24px


