@import '../../../common.styl'


.pulseTab
  background blueviolet

.btnSelect
  border-radius 30px
  border solid #CCC 1px
  margin 2px
  background #EEE
  font-weight normal

.btnSelect:hover
  color white
  background #36aff5


.file
  margin-left 10px
  padding-top 5px
  padding-bottom 5px
.fileTag
  background #000
  border-radius 5px
  width 100%
  height 42px
.material-icons
  color #589dce
  float right
  position relative
  font-size 38px !important
  right 5px
.plusIcon
  bottom 38px
.disabled
  pointer-events none
  cursor default
  opacity 0.5
