.btnSelect
  border-radius 30px
  border solid #CCC 1px
  margin 2px
  background #EEE
  font-weight normal

.btnSelect:hover
  color white
  background #36aff5

.pulseTab
  background #0ab9f0

.deployment-options
  display flex
  flex-wrap wrap

.add-new-btn
  margin 15px 0