<div *ngIf="getData" class="wrapper row">
  <div [ngSwitch]="commonService.stageActive" class="content-container col-xl-10 col-lg-9 col-md-12 col-sm-12">
    <div class="content-header col-sm-12">
      <div class="time-container col-sm-12">
        {{commonService.totTime}}
        <br>hours
      </div>
      <div class="top-bar col-sm-12">
        <h2 class="title">
          {{commonService.stageName[commonService.stageActive-1]}}
        </h2>
        <div class="nav-menu-collapsed">
          <button mat-mini-fab #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
            <i class="material-icons">{{menuTrigger.menuOpen ? 'close' : 'menu'}}</i>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <ng-container *ngTemplateOutlet="navMenu"></ng-container>
          </mat-menu>
        </div>
      </div>
    </div>
<!--    <app-basic-info *ngSwitchCase="1" (nextStep)="nextStep($event)" id="1"></app-basic-info>-->
<!--    <app-hosting-strategy *ngSwitchCase="2" (nextStep)="nextStep($event)" id="2"></app-hosting-strategy>-->
<!--    <app-participants *ngSwitchCase="3" (nextStep)="nextStep($event)" id="3"></app-participants>-->
<!--    <app-design *ngSwitchCase="1" (nextStep)="nextStep($event)" id="4"></app-design>-->
<!--    <app-structure *ngSwitchCase="5" (nextStep)="nextStep($event)" id="5"></app-structure>-->
    <app-content *ngSwitchCase="1" (nextStep)="nextStep($event)" id="6"></app-content>
    <app-score *ngSwitchCase="7" (nextStep)="nextStep($event)" id="7"></app-score>
  </div>
  <div class="navigation-container col-xl-2 col-lg-3 col-md-12 col-sm-12">
    <div class="time-container col-sm-12">
      {{commonService.totTime}}
      <br>hours
    </div>
    <div class="nav-menu">
      <ng-container *ngTemplateOutlet="navMenu"></ng-container>
    </div>
    <!-- <div class="nav-menu-collapsed">
      <button mat-mini-fab #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
        <i class="material-icons">{{menuTrigger.menuOpen ? 'close' : 'menu'}}</i>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <ng-container *ngTemplateOutlet="navMenu"></ng-container>
      </mat-menu>
    </div> -->
  </div>

</div>

<ng-template #navMenu>
  <div class="side-dots">
    <div class="col-xs-12 text-right">
      <!-- {{commonService.stage}} -->
      <span data-page="page2" (click)="setActiveStage(i+1)" class="slide-title"
        [ngClass]="commonService.stageActive === i+1 ? 'green' : 'grey'"
        *ngFor="let navItem of commonService.stageName; let i=index;"><span class="slide-point">{{navItem}}</span>
        <span class="pagination-circle-new"><span class="pc-inside-light-new slide-dot2"
            data-slide="2"></span></span></span>
    </div>
  </div>
</ng-template>
