@import '../../../common.styl';

.loginForm
  position relative
  height 100%
  padding-top 26vh
  left 126%
  max-width 52%
.loginIcon
  position fixed
  height 100%
.loginImg
  height 61%
  margin-top 18%
  margin-left 29%
.mat-mini-fab
  height 40px
  width 40px
.icons
    float right
.material-icons
    font-size 40px
    margin-top -8px
h2, label, span
  color white
span
  margin-right 13px
::ng-deep .no-line .mat-form-field-wrapper .mat-form-field-flex
    background-color white
