<div class="login-wrapper">
  <div class="login-container container row">
    <div class="logo-container col-md-6 col-sm-12">
      <img class="logo" src="assets/img/loginIcon.svg" alt="logo">
    </div>
    <div class="input-wrapper col-md-6 col-sm-12">
      <div class="input-container col-sm-12">
        <h2 class="header">Estimation tool</h2>
        <div class="loginForm" *ngIf="createRequest; then createRequestForm else userForm"></div>
      </div>
    </div>
  </div>
</div>

<ng-template #userForm>
  <form [formGroup]="loginForm" (submit)="login(loginForm.value)">
    <div class="form-group">
      <label for="email">Email ID</label>
      <mat-form-field class="no-line">
        <input matInput formControlName="email" id="email">
        <mat-icon matSuffix class="check-icon">check</mat-icon>
        <mat-error
          *ngIf="loginForm.controls['email'].hasError('email') && !loginForm.controls['email'].hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label>Password</label>
      <mat-form-field class="no-line">
        <input matInput formControlName="password" type="password">
        <mat-icon matSuffix class="check-icon">check</mat-icon>
        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group icons">
      <span>Create Request</span>
      <button mat-mini-fab type="submit" [disabled]="!loginForm.valid">
        <i class="material-icons">add</i>
      </button>
    </div>
  </form>
</ng-template>

<ng-template #createRequestForm>
  <form [formGroup]="createRequestForm" (submit)="createRequestFun(createRequestForm.value)">
    <div class="form-group">
      <label>Client Name</label>
      <mat-form-field class="no-line">
        <input matInput formControlName="clientName">
        <mat-icon matSuffix class="check-icon">check</mat-icon>
        <mat-error *ngIf="createRequestForm.controls['clientName'].hasError('required')">
          Client Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label>Event Name</label>
      <mat-form-field class="no-line">
        <input matInput formControlName="eventName">
        <mat-icon matSuffix class="check-icon">check</mat-icon>
        <mat-error *ngIf="createRequestForm.controls['eventName'].hasError('required')">
          Event Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label>Project ID</label>
      <mat-form-field class="no-line">
        <input matInput formControlName="projectID">
      </mat-form-field>
    </div>
    <div class="form-group icons">
      <span>Proceed</span>
      <button mat-mini-fab type="submit" [disabled]="!createRequestForm.valid">
        <i class="material-icons">keyboard_arrow_right</i>
      </button>
    </div>
  </form>
</ng-template>
