@import '../../../common.styl';

.login-wrapper
  height 100%
  display flex
  align-items center
  justify-content center
  .login-container
    flex-grow 1
    padding 15px
    .logo-container, .input-wrapper
      align-self center
      padding 15px
    .input-container
      color white
      .header
        text-align center
        margin-bottom 1rem

@media screen and (max-width: 767px)
  .login-wrapper
    align-items flex-start
  .logo-container
    display flex
    justify-content center
    // margin-top -120px
    .logo
      width 50%
      height auto
form
  .icons
    float right
    span
      margin-right 13px
    .mat-mini-fab
      height 40px
      width 40px
    .material-icons
      font-size 40px
      margin-top -8px
  .check-icon
    color #70b603
    margin 0 5px
::ng-deep .no-line .mat-form-field-wrapper .mat-form-field-flex
  background-color white
  color black
