//.loginPage
//    background-image url("./../assets/img/mainBG.jpg")
//    height 100%
.container
  padding-top 100px
.header
  width 100%
  position fixed
span
    position relative
    color white
    top 7px
    margin-left 50px
.timeEffort
    margin-left 50px
