<div class="main container-fluid">

  <div *ngIf="loggedIn">
    <div class="header">
      <div class="row timeEffort">
        <span><h5>Time Efforts</h5> </span>
        <span><h5>QA: {{commonService.qaTime}} hrs</h5></span>
        <span><h5>Developement: {{commonService.devTime}} hrs</h5></span>
        <span><h5>PM: {{commonService.pmTime}} hrs</h5></span>
        <span><h5>Design: {{commonService.desTime}} hrs</h5></span>
        <span><h5>Total: {{commonService.totTime}} hrs</h5></span>
      </div>
      <app-header></app-header>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div *ngIf="!loggedIn">
    <router-outlet></router-outlet>
  </div>
</div>

<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "default"
  color = "#fff"
  type = "ball-spin">
</ngx-spinner>