@import '../../../common.styl'

.pulseTab
  background blueviolet
.btnSelect
  border-radius 30px
  border solid #CCC 1px
  margin 2px
  background #EEE
  
.brandingLbl
  margin-top  10px
.file
  margin-left 10px
  padding-top 5px
  padding-bottom 5px
.fileTag
    background #000
    border-radius 5px
    width 100%
    height 42px
.fileContainer
    border 1px solid #fb239f
    height 197px
    border-radius 8px
    margin-left -10px
    margin-right -10px
.fileSelect
  margin-top -65px
  margin-left 4px
.material-icons
  color #589dce
  float right
  position relative
  bottom 38px !important
  font-size 38px !important
  right 5px
mat-form-field
    margin-right 15px
.specificDevice
    right 140px
