::ng-deep .no-line .mat-form-field-underline
  display: none
::ng-deep .no-line .mat-form-field-wrapper .mat-form-field-flex
  // border 1px solid #fb239f
  border 1px solid #0ab9f0
  border-radius 5px
  padding-left 15px

.failure-snackbar
    height 0px
    padding-top 29px
    background red
    color black
    text-align center
.success-snackbar
    height 0px
    padding-top 29px
    background green
    color white
    text-align center