/* You can add global styles to this file, and also import other style files */
@import "common.styl";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image url("./assets/img/mainBG.jpg") }

mat-form-field
    width 100%
h2
    color white


mat-card
  padding-bottom 31px !important
