/* You can add global styles to this file, and also import other style files */
@import "common.styl";

html, body
    height 100%

body
    margin 0
    font-family Roboto, "Helvetica Neue", sans-serif
    background-image url("./assets/img/mainBG.jpg")
    background-size cover
    background-repeat no-repeat
    background-position center
h2
    color white

mat-form-field
    width 100%

mat-card
  padding-bottom 31px !important

.content-container
    .activity-container
        // height 100%
        height: 91%
        .activity-content
            // height calc(100% - 38px)
            height 100%
            overflow auto
    .pull-right
        position relative
        margin-right 35px
        bottom 17px
    .save
        background-color #c35fca
