@import '../../../common.styl';

.pulseTab
  background blueviolet
.btnSelect
  border-radius 30px
mat-form-field
    width 85px
    left 10px
.userType
  border 1px solid gray
  border-radius 9px
  padding-top 12px
  left -31px
  padding-left 30px
