@import '../../../common.styl';

.btnSelect
  border-radius 30px
  border solid #CCC 1px
  margin 2px
  background #EEE
  font-weight normal

.btnSelect:hover
  color white
  background #36aff5

.pulseTab
  background #0ab9f0

mat-form-field
    width 85px
    left 10px
.userType
  border 1px solid gray
  border-radius 9px
  padding 15px
