@import '../../../common.styl'

.pulseTab
  background blueviolet !important
.btnSelect
  border-radius 30px
.pull-right
  position relative
  margin-right 35px
  bottom 17px

.save
  background #c35fca
.leftSide
  top 15px
.leftColumn
    margin-left -45px
.leftHeight
  height 67px
.fileTag
  background #000
  border-radius 5px
  // width 73%
  height 42px
  display flex
  .file
    margin-top 6px
    // margin-left 12px
.material-icons
  color #589dce
  // float right
  position relative
  font-size 38px !important
  // right 5px
img
  box-shadow 5px 5px 20px rgba(0, 0, 0, 0.349019607843137)
